<h1>Choose users to follow</h1>
<div style="overflow-x:auto;">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Group Name</th>
        <th>Number of Followers</th>
        <th colspan='3'></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.group.name %></td>
          <td><div id=<%= "followers_count_#{user.id}" %>><%= user.relationships_count %></div></td>
          <td>
            <div id=<%= "follow_form_#{user.id}" %>>
              <% if current_user.following?(user) %>
                <%= render 'unfollow', locals: { user: user } %>
              <% else %>
                <%= render 'follow', locals: { user: user } %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
