<!DOCTYPE html>
<html>
  <head>
    <title>FollowUser</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# ----- add these lines here: ----- %>

    <% if notice %>
      <%= notice %>
    <% end %>

    <% if alert %>
      <%= alert %>
    <% end %>

    <%# ----- end of added lines ----- %>
    <%= yield %>
  </body>
</html>
